#blanco{
    position: absolute;
    z-index: -10;
    left: 65px;
    width: 90%;
    top: 45px;
    height: 560px;
}

#amarillo{
    position: absolute;
    height: 4px;
    width: 90%;
    z-index: -10;
    left: 65px;
    top: 45px;
}

.logo{
    width: 380px;
    position: absolute;
    top: 80px;
    left: 105px;
}

.volver{
    position: absolute;
    color: #ffffff;
    
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    left: 100px; top: 154px; 
}

.linea{
    background-color: #839995;
    position: absolute;
    top: 150px; left: 85px;
    color: #839995;

    padding-top: 6px;
    padding-left: 20px;
    padding-bottom: 8px;
    width: 85.35%;

    font-size: 16px;
}

#boton{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #ffffff;
    background-color: #839995;
    cursor: pointer;
    position: absolute;
    top: 300px; left: 400px;
    width: 180px;height: 100px; font-size: 30px;
}

.clicks{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    position: absolute; font-size: 30px;
    color: #839995;
    top: 315px; left: 750px;
}

.evento{
    position: absolute;
    color: #e2b137;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    top: 0px; left: 1050px;
    font-size: 30px; width: 300px;
    text-align: justify;
    
}